<div class="container">
  <h1>Rent & Maintenance Management</h1>
  <p>Manage campground rentals and maintenance requests.</p>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card p-4 text-center shadow-sm">
        <div class="mb-2" style="font-size: 2rem">🏕️</div>
        <h5>Equipment Management</h5>
        <p class="text-muted">Verify and manage rental equipments</p>
        <a routerLink="equipment" class="btn btn-primary">Accéder</a>
      </div>
    </div>
  </div>
</div>